# __R Session n¬∞2 : tutorial__
M1 MEG UE5 - Claire Vandiedonck
***

## **introduction on dataframes**

*Content of this tutorial:*

1. Creating a dataframe
2. Reading a text file into RData
3. Saving a dataframe on my computer

In the next tutorial (session R#3) we will see how to extract data from a dataframe, how to subset dataframes on several criteria, and how to merge them.

---
## Avant d'aller plus loin

<div class="alert alert-block alert-danger"><b>Attention:</b> 
Ne travaillez pas directement sur ce notebook pour ne pas le perdre. Dupliquez-le et renommez-le par exemple en ajoutant vos initiales et travaillez sur cette nouvelle copie. Pour ce faire, dans le panneau de gauche, faites un clic droit sur le fichier et s√©lectionnez "Duplicate". Puis, toujours dans la colonne de gauche, faites un clic droit sur cette copie et s√©lectionnez "rename" pour changer le nom. Ouvrez ensuite cette nouvelle version en double cliquant dessus. Vous √™tes pr√™t(e) √† d√©marrer! <br>
<br>
<b>N'oubliez pas de sauvegarder r√©guli√®rement votre notebook</b>: <kbd>Ctrl</kbd> + <kbd>S</kbd>. ou en cliquant sur l'icone üíæ en haut √† gauche de votre notebook ou dans le Menu du JupyterLab "File puis "Save Notebook"! Vous pouvez aussi le sauvegarder au format html: Menu "File" > Export Notebook As> Export notebook as HTML.
</div>

<div class="alert alert-block alert-warning"><b>Warning:</b> you are strongly advised to run the cells in the indicated order. If you want to rerun cells above, you can just restart the kernel to start at 1 again. </div>

<div class="alert alert-block alert-warning"><b>Open variable inspector:</b> right click on the notebook and select "Open Variable Inspector". A new tab will open. </div>

#### 1. Identifiez votre r√©pertoire de travail

In [1]:
#cell 1
getwd()

[1] "/srv/home/cvandiedonck/megm1_ue5_r/R2"

Si ce r√©pertoire ne vous convient pas, changez le pour un r√©pertoire existant `my_directory`par exemple, avec la commande suivante en sp√©cifiant le chemin relatif ou absolu de votre r√©pertoire:
```setwd("path/my_directory")```

#### 2.  Identifiez la version R de votre environnement et packages install√©s.

In [2]:
#cell 2
sessionInfo()

R version 4.1.3 (2022-03-10)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Ubuntu 18.04.4 LTS

Matrix products: default
BLAS/LAPACK: /srv/conda/envs/notebook/lib/libopenblasp-r0.3.21.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] repr_1.1.4

loaded via a namespace (and not attached):
 [1] fansi_1.0.3     crayon_1.5.1    digest_0.6.29   utf8_1.2.2
 [5] IRdisplay_1.1   lifecycle_1.0.2 jsonlite_1.8.0  evaluate_0.16
 [9] pillar_1.8.1    rlang_1.0.5     cli_3.4.0       uuid_1.1-0
[13] vctrs_0.4.1     IRkernel_1.2    tools_4.1.3     glue_1.6.2
[17] fastmap_1.1.0   compiler_4.1.3  base64enc_0.1-3 pbdZMQ_0.3-7
[21] htmltools_0.5.3

---
---

## **I - Dataframes**


Dataframes properties:
- **2-dimension objects** (rows x columns)
- can be **heterogeneous** : can contain several types of variables in different columns


<div class="alert alert-block alert-danger"><b> Caution: </b> Each column must remain with the same type (homogeneous).</div>

>*For info, another type of 2-dimension object exists in R, called `matrices` but they have to be homogeneous also across columns.*

### **I.1. - Creating a dataframe:**
---

- They are generated with the function `data.frame()`:

This can be done **using existing vectors of same length** like the previoulsy generated "weight", "size" and "bmi" we previously saved in the object "anthropo.RData". If you didn't generate it, you can find it on moodle or in the shared data folder: `/srv/data/meg-m1-ue5/`. You only have to change the path in the next command.

In [3]:
#cell 3
load("../R1/anthropo.RData")
ls()

[1] "bmi"    "size"   "weight"

In [4]:
#cell 4
myDataf <- data.frame(weight, size, bmi)
myDataf

         weight size bmi
Fabien   60     1.75 19.59184
Pierre   72     1.80 22.22222
Sandrine 57     1.65 20.93664
Claire   90     1.90 24.93075
Bruno    95     1.74 31.37799
Delphine 72     1.91 19.73630

The obtained dataframe looks pretty much like the previous matrix myData2.

In [5]:
#cell 5
class(myDataf)

[1] "data.frame"

In [6]:
#cell 6
str(myDataf)

'data.frame':	6 obs. of  3 variables:
 $ weight: num  60 72 57 90 95 72
 $ size  : num  1.75 1.8 1.65 1.9 1.74 1.91
 $ bmi   : num  19.6 22.2 20.9 24.9 31.4 ...

In [7]:
#cell 7
print(dim(myDataf))

[1] 6 3

>*Note that if the vectors used to generate the dataframe are character strings, it is advised in versions < 4 to add the argument `stringsAsFactors=FALSE`*

- Creating an **empty dataframe ?**

If the vectors that will generate the dataframe do not exist yet in the session, but you would like to initiate a dataframe to fill it during your analysis, you could imagine creating an empty dataframe. But this method is useless as it is impossible to fill the generated dataframe having 0 columns and rows.

In [8]:
#cell 8
d <- data.frame()
d
dim(d)

[1] 0 0

In that case, it is better to create an empty matrix and to convert it to a dataframe. See below.

Dataframes can be generated by **converting a matrix into a dataframe** with `as.data.frame()`

You may use `as.data.frame()` on a matrix generated by binding columns of vectors with  `cbind()`:

Let's try with the object myData2 which is a matrix we create with `cbind()`.

In [9]:
#cell 9
myData2 <- cbind(weight, size, bmi)

In [10]:
#cell 10
class(myData2)
class(as.data.frame(myData2))
str(as.data.frame(myData2))

[1] "matrix" "array"

[1] "data.frame"

'data.frame':	6 obs. of  3 variables:
 $ weight: num  60 72 57 90 95 72
 $ size  : num  1.75 1.8 1.65 1.9 1.74 1.91
 $ bmi   : num  19.6 22.2 20.9 24.9 31.4 ...

You may also use `as.data.frame()` matrix directly by binding rows :

In [11]:
#cell 11
d1 <- as.data.frame(rbind(1:2, 10:11))
str(d1)

'data.frame':	2 obs. of  2 variables:
 $ V1: int  1 10
 $ V2: int  2 11

Similarly, we can do such a conversion of an empy matrix (created with `matrix()` into a dataframe like in the example below with a matrix of two rows and three columns currently filled with missing values:

In [12]:
# cell 12
d2 <- as.data.frame(matrix(NA,2,3))
print(d2)
print(dim(d2))
str(d2)

  V1 V2 V3
1 NA NA NA
2 NA NA NA
[1] 2 3
'data.frame':	2 obs. of  3 variables:
 $ V1: logi  NA NA
 $ V2: logi  NA NA
 $ V3: logi  NA NA

### **I.2. - Reading a text file into R and vice versa**
---

#### **a. reading a text file into R**

The function `read.table()` reads a delimited text file (tabulated, scv or other column separator) into R and **generates a dataframe**. 

<span style="color:red"><b>read.table() returns a dataframe</b></span>. 

We will import into R the file `Temperatures.txt` which is located in the shared folder `srv/data/meg-m1-ue5`. It is also on moodle.
To import it in you `R2 folder` open a terminal and enter the following command:

cp /srv/data/meg-m1-ue5/Temperatures.txt .

Before importing it into R, let's see how it looks like. Just double click on it.

You will see it is a tab-delimited text file.

Now let's import it in R by specifying the correct separator (`"\t"` is used for tab-delimited) with the `read.table()` function:

In [13]:
# cell 13
path_to_file <- "/srv/data/meg-m1-ue5/Temperatures.txt" 
temperatures <- read.table(path_to_file, sep = "\t", header = TRUE, stringsAsFactors = FALSE)
temperatures
str(temperatures)

   Month     Mean_Temp
1  January    2.0
2  February   2.6
3  March      7.9
4  April     11.2
5  May       15.3
6  June      22.2
7  July      22.9
8  August    22.5
9  September 17.3
10 October   11.7
11 November   5.2
12 December   2.8

'data.frame':	12 obs. of  2 variables:
 $ Month    : chr  "January" "February" "March" "April" ...
 $ Mean_Temp: num  2 2.6 7.9 11.2 15.3 22.2 22.9 22.5 17.3 11.7 ...

In the above command, I used the argument `stringsAsFactors=FALSE`to avoid a factorisation of the columns with strings of character (here the "Month" column).
In R versions < 4, the default value for this argument is `TRUE`. Let's see what would have happened:

In [14]:
# cell 14
temperatures.2 <- read.table(path_to_file, sep="\t", header = TRUE, stringsAsFactors = TRUE)
str(temperatures.2)

'data.frame':	12 obs. of  2 variables:
 $ Month    : Factor w/ 12 levels "April","August",..: 5 4 8 1 9 7 6 2 12 11 ...
 $ Mean_Temp: num  2 2.6 7.9 11.2 15.3 22.2 22.9 22.5 17.3 11.7 ...

Here the "Month" column has been factorised. How?

In [15]:
# cell 15
levels(temperatures.2$Month)

 [1] "April"     "August"    "December"  "February"  "January"   "July"
 [7] "June"      "March"     "May"       "November"  "October"   "September"

By alphabetic order, which is not what you want!
Thus always use `stringsAsFactors=FALSE`

<div class="alert alert-block alert-info"><b>Facultative at home:</b> to better understand the behaviour of factors, you may follow the tutorial "R2_tuto_factors.ipynb" available on moodle.</div>

<div class="alert alert-block alert-warning"><b> Warnings :</b><br>
    <br>

    
<b> 1. When reading a text file into R, pay attention to the following points:<br></b>
    
- if there are fewer names than columns in the header of the text file : consider importing file without header or add name to file before importation
- if there are fewer columns than names in the header : add argument `fill = TRUE` to overcome this issue
- if there are some rows with fewer columns compared to other rows: add argument `fill = TRUE` to overcome this issue
- if you use the argument `row.names = 1` : this cannot be used when several rows have the same name
    
<b> 2. Always check that the dataframe you obtain is as expected with:</b> <br>
- `str()`
- `head()`
- `tail()`
- and by displaying some rows in the middle of the file </div>

There are other functions to read files into R like `read.csv()` or `scan()` or even `read.xlsx()` and `read.excel()` from the packages "xlsx" and "readxl".

#### **b. writing a dataframe on your computer**

Conversely, save a dataframe into your working directory with `write.table()`:

In [16]:
# cell 16
# save a dataframe as a text file in the working directory
write.table(myDataf, file="bmi_data.txt", sep="\t", quote=F, col.names=T)

Have a look at it by double clicking on it in your working directory.

and check you can import it back in R again:

In [17]:
# cell 17
rm(myDataf)
myDataf <- read.table("bmi_data.txt", sep="\t", header=T, stringsAsFactors=F)
head(myDataf) #myDataf is again accessible
file.remove("bmi_data.txt") #to clean the working directory

         weight size bmi
Fabien   60     1.75 19.59184
Pierre   72     1.80 22.22222
Sandrine 57     1.65 20.93664
Claire   90     1.90 24.93075
Bruno    95     1.74 31.37799
Delphine 72     1.91 19.73630

[1] TRUE

<div class="alert alert-block alert-success"><b>Success:</b> Well done! You now know all the main functions to create and save dataframes.

</div>

---
Lets' save all the main objects of this session into an R object:

In [18]:
#cell 18
ls()

 [1] "bmi"            "d"              "d1"             "d2"
 [5] "myData2"        "myDataf"        "path_to_file"   "size"
 [9] "temperatures"   "temperatures.2" "weight"

We will keep `myDataf` and `temperatures`.

In [19]:
# cell 19
save(myDataf, temperatures, file="R2_tuto.RData")

***
***
## Useful commands
<div class="alert alert-block alert-info"> 
    
- <kbd>CTRL</kbd>+<kbd>S</kbd> : save notebook<br>    
- <kbd>CTRL</kbd>+<kbd>ENTER</kbd> : Run Cell<br>  
- <kbd>SHIFT</kbd>+<kbd>ENTER</kbd> : Run Cell and Select Next<br>   
- <kbd>ALT</kbd>+<kbd>ENTER</kbd> : Run Cell and Insert Below<br>   
- <kbd>ESC</kbd>+<kbd>y</kbd> : Change to *Code* Cell Type<br>  
- <kbd>ESC</kbd>+<kbd>m</kbd> : Change to *Markdown* Cell Type<br> 
- <kbd>ESC</kbd>+<kbd>r</kbd> : Change to *Raw* Cell Type<br>    
- <kbd>ESC</kbd>+<kbd>a</kbd> : Create Cell Above<br> 
- <kbd>ESC</kbd>+<kbd>b</kbd> : Create Cell Below<br> 

<em>  
To make nice html reports with markdown: <a href="https://dillinger.io/" title="dillinger.io">html visualization tool 1</a> or <a href="https://stackedit.io/app#" title="stackedit.io">html visualization tool 2</a>, <a href="https://www.tablesgenerator.com/markdown_tables" title="tablesgenerator.com">to draw nice tables</a>, and the <a href="https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd" title="Ultimate guide">Ultimate guide</a>. <br>
Further reading on JupyterLab notebooks: <a href="https://jupyterlab.readthedocs.io/en/latest/user/notebook.html" title="Jupyter Lab">Jupyter Lab documentation</a>.<br>   
</em>    
 
</div>

__*=> About this jupyter notebook*__

This a jupyter notebook in **R**, meaning that the commands you will enter or run in `Code` cells are directly understood by the server in the R language.
<br>You could run the same commands in a Terminal or in RStudio. 
Here we are using JupyterLab interface implemented as part of the https://plasmabio.org/ project lead by Sandrine Caburet, Pierre Poulain and Claire Vandiedonck. 
---

[version 23/09/2022 - last revision: @CVandiedonck]